body, html {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 0;
}

#bookmark {
    white-space: pre-wrap;
}
#bookmark.md-mono {
    font-family: monospace;
}

#bookmark #error {
    color: tomato;
    font-family: monospace;
    white-space: pre-wrap;
}

.md-toolbar {
    z-index: 1000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: right;
    padding: 10px 30px;
}
.md-toolbar > * {
    display: inline-flex;
}

.md-button {
    border: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    /* border: #2222223d 1px solid; */
    /* margin: 6px; */
    cursor: pointer;
    outline: none;
    /* color: #333; */
    /* opacity: .7; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.md-button:hover {
    background-color: rgba(175, 189, 195, 0.16);
}

.md-mr20 {
    margin-right: 60px;
}

.md-hidden {
    visibility: hidden;
    position: absolute;
}
.no-events {
    pointer-events: none;
}

.md-dropper {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}
.md-dropper .md-dropper-container {
    display: table-cell;
    vertical-align: middle;
}
.md-dropper .md-dropper-container .md-dropper-label {
    margin: auto;
    width: 300px;
    font-size: 3em;
    opacity: .2;
    border: transparent 4px dotted;
    padding: 40px;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
}
.md-dropper .md-dropper-container .md-dropper-label:hover {
    opacity: .6;
    border-color: #222;
}
.md-dropper .md-dropper-container .md-dropper-label .sub-label {
    position: absolute;
    font-size: initial;
    display: -webkit-box;
    text-align: center;
    left: 50%;
    margin-left: -25px;
}

.md-icon {
    display: block;
    text-indent: -9999px;
    width: 26px;
    height: 26px;
    opacity: .4;
}
.md-icon:hover {
    opacity: .6;
}
.md-icon-insert {
    background: url(assets/insert.svg);
}
.md-icon-print {
    background: url(assets/print.svg);
}




body.md-text-opened .md-dropper {
    display: none;
}

@media print
{
    .md-no-print
    {
        display: none !important;
    }
}

code {
    color: orchid;
}

pre {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    white-space: pre-wrap;
}

em {
    color: mediumseagreen;
    font-family: monospace;
    font-size: 1.2em;
}
