body, html {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 0;
}

.no-events {
    pointer-events: none;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -o-user-select: none;
}

#bookmark {
    white-space: pre-wrap;
}
#bookmark.md-mono {
    font-family: monospace;
}

#bookmark #error {
    color: tomato;
    font-family: monospace;
    white-space: pre-wrap;
}

#file-info {
    font-family: monospace;
    margin-right: 20px;
    opacity: .6;
    line-height: 46px;
    white-space: nowrap;
}

.md-toolbar {
    margin-top: 100px;
    padding: 0 20px;
}
.md-toolbar > * {
    display: inline-flex;
}

.md-button {
    border: none;
    /*background-color: transparent;*/
    padding: 10px;
    border-radius: 50%;
    /* border: #2222223d 1px solid; */
    /* margin: 6px; */
    cursor: pointer;
    outline: none;
    /* color: #333; */
    opacity: .7;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    background-color: white;
}
.md-button:hover {
    background-color: lightskyblue;
}

.md-vertical-menu {
    position: fixed;
    right: 0;
    z-index: 10000;
}
.md-vertical-menu #file-info {
    position: absolute;
    right: 60px;
    top: 10px;
}
.md-vertical-menu > .md-button {
    display: block;
    margin: 10px 20px;
}

/*.md-group-button {*/
    /*display: flex;*/
/*}*/
/*.md-group-button > * {*/
    /*display: inline-flex;*/
/*}*/

/*.md-toolbar .md-button {*/
    /*background-color: transparent !Important;*/
/*}*/


/*.md-mr20 {*/
    /*margin-right: 60px;*/
/*}*/

.md-hidden {
    visibility: hidden;
    position: absolute;
}

/*.md-main-box {*/
    /*z-index: 1000000;*/
    /*position: fixed;*/
    /*top: 20px;*/
    /*right: 20px;*/
    /*line-height: 46px;*/
    /*display: flex;*/
/*}*/
/*.md-main-box > * {*/
    /*display: inline-flex;*/
/*}*/

.md-dropper {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}
.md-dropper .md-dropper-container {
    display: table-cell;
    vertical-align: middle;
}
.md-dropper .md-dropper-container .md-dropper-label {
    margin: auto;
    width: 300px;
    font-size: 3em;
    opacity: .2;
    border: transparent 4px dotted;
    padding: 40px;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
}
.md-dropper .md-dropper-container .md-dropper-label:hover {
    opacity: .6;
    border-color: #222;
}
.md-dropper .md-dropper-container .md-dropper-label .sub-label {
    position: absolute;
    font-size: initial;
    display: -webkit-box;
    text-align: center;
    left: 50%;
    margin-left: -25px;
}

.md-icon {
    display: block;
    text-indent: -9999px;
    width: 26px;
    height: 26px;
    opacity: .4;
}
a > .md-icon {
    display: inline-flex;
}
.md-icon:hover {
    opacity: .6;
}
.md-icon-insert {background: url(assets/insert.svg);}
.md-icon-print {background: url(assets/print.svg);}
.md-icon-menu {background: url(assets/menu.svg);}
.md-icon-appearance {background: url(assets/color_lens.svg);}
.md-icon-close {background: url(assets/close.svg);}
.md-icon-arrow-up {background: url(assets/arrow_up.svg);}
.md-icon-github {
    width: 14px;
    height: 14px;
    background: url(assets/github.svg);
}

.md-back-to-top {
    pointer-events: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
body.md-scroll-on .md-back-to-top {
    pointer-events: auto;
    opacity: 1;
}

/*.md-tools {*/
    /*width: 300px;*/
    /*position: fixed;*/
    /*right: -300px;*/
    /*top: 0;*/
    /*height: 100vh;*/
    /*transition: right .5s ease-out;*/
    /*-moz-transition: right .5s ease-out;*/
    /*-webkit-transition: right .5s ease-out;*/
    /*-o-transition: right .5s ease-out;*/
    /*background-color: lightskyblue;*/
    /*z-index: 1000;*/
    /*-moz-box-shadow:    inset 5px 4px 4px -6px;*/
    /*-webkit-box-shadow: inset 5px 4px 4px -6px;*/
    /*box-shadow: inset 5px 4px 4px -6px;*/
/*}*/

/*.md-vi3w3r-info {*/
    /*position: fixed;*/
    /*bottom: 2px;*/
    /*width: 300px;*/
    /*text-align: center;*/
    /*font-family: monospace;*/
/*}*/
.md-bottom-info {
    position: fixed;
    bottom: 4px;
    width: 100vw;
    text-align: center;
    font-family: monospace;
    left: 0;
    opacity: .7;
    z-index: 10000;
}

body.md-tools-active .md-tools {
    right: 0;
}

body.md-text-opened .md-dropper {
    display: none;
}

@media print
{
    .md-no-print
    {
        display: none !important;
    }
}

code {
    color: mediumpurple;
}

pre {
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
    white-space: pre-wrap;
}

em {
    color: mediumseagreen;
    font-family: monospace;
    font-size: 1.2em;
}
